*{
    margin: 0;
    padding: 0;
}
body{
    width: 1200px;
    background: #ffffff;
    margin: 0 auto;
}
main{
    width:  1200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    display: flex;
    justify-content: center;
    color: #000000;
    margin: 80px 0;

}
.form{
    width: 562px;
    height: 466px;
    display: flex;
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    background: #D9D9D9;

    
}
.header_logo{
    width: 348px;
    height: 87px;
    display:flex;
    justify-content: space-evenly;

    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}



img{
    width: 77px;
    height: 78px;
   
}
h1{
    width: 154px;
    height: 38px;

    display: flex;
    align-items: flex-end;
    justify-content: center;


    padding-top: 25px;
    padding-bottom: 15px;
     
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

}
.input-form{
    width: 443px;
    height: 85px;

}
input{
    width: 376px;
    height: 34px;

    border: none;
    background: #FFFFFF;
    border-radius: 85px;
}

.o{
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}



button{
   
    width: 146px;
    height: 38px;

    margin-top: 15px;  
    
    background: #FF4343;
    border-radius: 76.5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    border: none;
}
.avtocont{
    width: 376px;
    height: 167px;
}